.header{
  width: 100%;
  margin: 0;
  height: 70px;
  background-color: #007B7E;
  display: flex
/* line-height:  */
}

.header > p {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  font-size: 24px;
  color: #FFFFFF;
  opacity: 0.5;
  margin: auto;
  word-spacing: 6vw;
}

.header>p:hover {
  /* background-color: #007B7E; */
  cursor: pointer;
}

.header>p:active {
  background-color: rgb(158, 171, 172);
  cursor: pointer;
  opacity: 0;
}

.firstHeader {
  background-color: rgb(245, 237, 237);
  padding: 15px 0 0 10px;
  height: 40px;
  width: auto;
}

.firstHeader > p {
  float: left;
}

.firstHeader > p {
  margin: 0;
}

.PageWrapper {
  width: 100%;
  height: 90vh;
  display: flex;

}

/* scroolbar styles */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(138, 138, 138); 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #007B7E; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(1, 60, 61); 
}

/* scrollbar styles */

.sidebar {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 10vw;
  overflow-y: scroll;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  /* padding-top: 30px */
  /* animation: linear; */
}

.sidebar_style {
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 10vw;
  margin-left: 9vw;
  overflow-y: scroll;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  /* animation: linear; */
}

.main {
  width: 70vw;
  height: 90vh;
  background-color: whitesmoke;
}

.box {
  /* background-color: white;
  border: 1px solid darkgrey;
  border-radius: 4px;
  height: 350px;
  width: 300px;
  margin: auto; */
  margin-top: 70px;
  margin-left: 388px;
}

.MiniCardPhoto {
  height: 100px;
  width: 70%
}

.MiniCard {
  /* margin-top: 690px; */
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
  padding: 5px 0 ;
  color: #007B7E;
}

.MiniCard_style{
  /* margin-top: 690px; */
  text-align: center;
  width: 100%;
  margin: auto;
  height: auto;
  padding: 22px 0 ;
  color: #007B7E;
}

.MiniCard:hover {
  /* background-color: #007B7E; */
  cursor: pointer;
}

.MiniCard >img:hover {
  /* background-color: #007B7E; */
  cursor: pointer;
}

.MiniCard:active {
  background-color: #007B7E;
}

.MiniCard_style:hover {
  /* background-color: #007B7E; */
  cursor: pointer;
}

/* .MiniCard_style:active { */
  /* background-color: #007B7E; */
/* } */

.box_image {
  margin: 0;
  width: 90pc;
  padding: 0;
  margin-top: -14pc;
  margin-left: -35pc;
}